[2016-05-03 17:50] tleunen opened #1 "Use JSON5 instead of JSON"
JSON is too restrictive, so we should use JSON5 instead.

JSON doesn't allow trailing commas for example, but JSON5 does. And because Babel uses JSON5, we should also use it to parse `.babelrc`.

see https://github.com/javascriptair/site/pull/94

[2016-05-03 18:04] #1 closed

[2016-07-20 23:23] tals opened #13 "Should raise an error when module-alias cannot be found"
in `getMappingFromBabel()`, you perform the lookup with:
`const pluginConfig = c.config.plugins.find(p => p[0] === 'module-alias');`

if the key cannot be found (babel for example also allows `babel-plugin-module-alias`), you'll end up with cryptic errors from eslint:
[code]

which is the user now has to track down.

[2016-07-21 01:42] tleunen commented on #13
Good catch @tals! Want to make a PR to also support the full name? And add a check for the plugin to fix this potential error 1 of undefined?

No worries if you don't have time, I'll do it tomorrow in that case.

[2016-07-21 07:15] jgkim opened #15 "Cascading doesn't work with this plugin"
When `.eslint` cascading happens, this plugin doesn't work properly. This is due to the fact that the resolver use the current working directory, which never changes when cascading occurs.

[2016-07-21 12:26] #15 closed

[2016-08-06 15:43] tleunen commented on #13
Fixed in 1.5.0. Thanks @tals and sorry for the long long delay :/

[2016-08-06 15:43] #13 closed

[2016-08-08 13:33] hung-phan opened #22 "Question regarding to the configuration with webpack 2 and eslint-plugin-import"
Hi there,

Thanks for this project. I ran into a problem with the configuration but don't know how to fix it yet. It used to work with the old version of eslint-plugin-import or this version of eslint-import-resolver-babel-module-alias. Any idea on this? My current configuration is:

[code]

[code]

My issue is https://github.com/hung-phan/koa-react-isomorphic/issues/36

[2016-08-08 13:47] tleunen commented on #22
Thanks @hung-phan, I'll run some test later today to see what's wrong. I don't see any errors in your config though.

Could you try with the version 1.4.2 instead of 1.5?

[2016-08-08 15:02] hung-phan commented on #22
Ok, @tleunen. Currently, I have this error with eslint-plugin-import.

<img width="794" alt="screen shot 2016-08-08 at 8 31 00 pm" src="https://cloud.githubusercontent.com/assets/3093244/17484383/bbd704ec-5db3-11e6-98a5-5824b2eb8ea9.png">

[2016-08-08 16:27] hung-phan commented on #22
Oh, @tleunen. I tested it with v1.4.2 and it worked as expected

[2016-08-08 16:56] tleunen commented on #22
Thanks for the confirmation. I'll double check this with your configuration but it seems there's something wrong when trying to merge the configuration from the dev/test/prod environment with the default one.

[2016-08-09 00:19] #22 closed

[2016-08-09 00:22] tleunen commented on #22
Thank you @hung-phan for reporting the issue, and by providing your repo in which the issue could easily be reproduced. I've fixed it in 1.5.1 so you can update the version if you want :)
I've tested it in your repo and the linting works with 1.5.1 ;)

[2016-08-09 02:08] hung-phan commented on #22
So great. Thanks @tleunen.

[2016-08-12 16:06] jDeppen commented on #22
I'm having a similar issue. Do you see anything I should do differently? Thanks

common, pages, and content (directories) are throwing errors.
`error  'pages' should be listed in the project's dependencies. Run 'npm i -S pages' to add it `

`error  Unable to resolve path to module 'content/container'             import/no-unresolved`
('container' is a file in the content directory)

[code]

[code]

[2016-08-13 15:05] tleunen commented on #22
Maybe a conflict with your webpack resolver? If you can setup a small repo which reproduce the issue, it could help :)

[2016-08-27 21:18] sslotsky opened #25 "eslint can't resolve alias paths"
I believe I've followed instructions correctly. I have this package as well as `babel-plugin-module-resolver` installed. My .bablrc:

[code]

The app runs fine so the aliases are working, but I get lots of these warnings when linting:

[code]

I've tried with an .eslintrc like this:

[code]

and with an .eslintrc.yml like this

[code]

Makes no difference. Surely I've missed something?

[2016-08-27 22:04] sslotsky commented on #25
**Update**

After removing this

[code]

most of my aliases are passing lint, but the `APP` alias now fails `import/no-extraneous-dependencies`

[2016-08-27 22:22] tleunen commented on #25
How do you run your linting, from where? Editor or CLI? From the root project?

I don't have the issue in my projects, so if you can reproduce the issue in a small example, it could also help.

[2016-08-28 05:47] sslotsky commented on #25
If you checkout the `lint` branch and run `npm run lint` from the root, you'll see the errors.

https://github.com/sslotsky/brewtoad-react-client/tree/lint

 What's interesting is that the `APP` alias is referenced from `app/users/New` and the linter doesn't complain about it at all, but apparently the ones in `app/recipes/Index` are different?

[2016-08-28 15:27] tleunen commented on #25
Thanks for the repo, I've been able to reproduce the issue.
Because you're using the jsx extension, you have to manually specify it to the eslint plugin, by using this:
[code]

Also, it seems the root and alias configuration are in conflict with your setup. I believe this is a case sensitivity issue but I still have to investigate a bit more.

[2016-08-28 15:35] tleunen commented on #25
Yes this is a case sensitivity issue.

You have imports like `CONFIG/locales`, and at the same time, you have a root configuration as `./` and you have a directory called `config` at the rot of your project.

So the system found the file under the directory using the root configuration, and because of that it keeps the `CONFIG/locales` path you were using. The file was found, even if the case does

[2016-08-28 15:35] #25 closed

[2016-08-28 15:40] sslotsky commented on #25
Thanks for looking into it!

[2016-09-01 06:08] rafaelcorreiapoli opened #26 "How to configure custom root?"
My webpack configures a custom root at ```./src```
So my .babelrc looks like this:
[code]
And the app builds just fine
However, I can still see linting problems on my editor (Atom)
My .eslintrc looks like this
[code]
Should this work as it is or should I configure the root folder somewhere?

[2016-09-01 11:46] tleunen commented on #26
Indeed, this should work. No need to configure anything in the `babel-module` option for the import resolver, unless you're using a file extension other than `.js`.

I don't see any error in your config though. Except that you're mentioning webpack. The webpack custom resolver is not required if you're using the `babel-plugin-module-resolver`.

[2016-09-06 08:42] rafaelcorreiapoli commented on #26
I mentioned webpack because it is settings a custom root folder for my project.
I noticed that when I run eslint from bash, I get this error:
[code]
But I followed all the instructions:
Installing and configuring these:
https://github.com/tleunen/babel-plugin-module-resolver
https://github.com/benmosher/eslint-plugin-import
https://github.com/tleunen/eslint-import-resolver-babel-module

[2016-09-11 23:53] tleunen commented on #26
Would you have an test repo with the issue? It would help me to find the error and better help you.

If you're using `babel-plugin-module-resolver`, the custom root with webpack is not required though.
Are you sure you properly installed all the packages? Because your error seems to report the `eslint-import-resolver-babel-module` package is not installed.

[2016-10-10 17:59] #26 closed

[2016-11-07 03:10] rkirsling opened #29 "Breakage as of v2.1: "unable to load resolver""
`eslint-import-resolver-babel-module@2.1.0` appears to be broken.

Using the trivial repo example below, executing `eslint "src/**"` produces the error:
[code]

Downgrading to v2.0.1 fixes the issue.

(_Note: This is tied to `babel-plugin-module-resolver@2.3.0`, but Babel is resolving correctly._)

-----

**package.json**
[code]

**.babelrc**
[code]

**.eslintrc.js**
[code]

**src/foo/foo.js**
[co

[2016-11-07 03:18] tleunen commented on #29
I believe the `eslint` you're using in your command is a global eslint, which cannot find the plugin.
I've tested the example you provide, while using the local eslint, and I don't have any errors.
Here's what I added in the package.json:
[code]

[2016-11-07 03:20] rkirsling commented on #29
It's local—I actually ran `node_modules/.bin/eslint "src/**"` but didn't feel like writing all that. :smile:

[2016-11-07 03:24] tleunen commented on #29
So this is actually the error I fixed a couple of minutes ago, in this commit https://github.com/tleunen/eslint-import-resolver-babel-module/commit/a925e3fb87128260f67d1f09ae49c426f5daf80a

I thought I had released a new version but I didn't. It's now done and 2.1.1 is available ;)

[2016-11-07 03:25] rkirsling commented on #29
Confirmed—thanks!

[2016-11-07 03:25] #29 closed

[2016-11-08 05:24] roastlechon opened #30 "Using latest eslint setup shows errors"
Dependencies are as follows
[code]

.babelrc as follows
[code]

Linting errors are as follows
[code]

[2016-11-09 02:17] tleunen commented on #30
What version of `babel-plugin-module-resolver` are you using, it seems it's missing from your dependency list.

[2016-11-10 05:20] vdh commented on #30
I'm on `babel-plugin-module-resolver@2.3.0`, but I recently started getting `import/no-extraneous-dependencies` errors when running from a global eslint (`/usr/local/bin/eslint`). The local eslint (`./node_modules/.bin/eslint`) works okay.

[2016-11-10 13:21] tleunen commented on #30
Are you using the eslint plugin with its version 2.1.1 or 2.2.0? Could you verify if it worked fine with 2.1.1 in your case (which means this would be related to the recent changes to grab the plugin configuration (cc @izaakschroeder) or if we have this issue for a long time?

[2016-11-10 14:50] tleunen commented on #30
Hmm.. I actually can reproduce the issue with 2.2.0 as well. 2.1.1 is fine.

[2016-11-10 16:23] roastlechon commented on #30
@tleunen sorry, it is `"babel-plugin-module-resolver": "^2.3.0"`

[2016-11-10 16:25] tleunen commented on #30
Thanks, but I've found out `babel-plugin-module-resolver` is not the issue. The issue is `eslint-import-resolver-babel-module` v2.2.0 ;)

[2016-11-10 16:26] roastlechon commented on #30
So if I revert back to `2.1.1` I should be all fine and dandy?

[2016-11-10 16:30] tleunen commented on #30
It was the case for me.
I'll take a look tonight to see what's wrong with v2.2.0

[2016-11-10 17:10] roastlechon commented on #30
What combination of versions should I test out? I have...

[code]

[2016-11-10 17:12] tleunen commented on #30
are you sure you're using 2.1.1? Maybe you have 2.2.0 installed (since it matched what you're asking)

[2016-11-10 17:13] roastlechon commented on #30
[code]

[2016-11-11 00:27] tleunen commented on #30
Yes it should work with the 2.1.1 version.

@izaakschroeder This is related to your changes. By default, the cwd should be the path of the babelrc file, not `process.cwd()`. Because cwd in the editor is dirname(file), which is wrong.

[2016-11-11 00:51] izaakschroeder commented on #30
Got it 👍  will see what I can do tonight 😄

[2016-12-14 23:39] artola opened #33 "Resolving aliases"
I have problems to map a folder, `babel-plugin-module-resolver` works fine, while with ESLint I can not find the way to tweak `eslint-import-resolver-babel-module` and get rid of error messages.

   error  Missing file extension for "XXX/Button"        import/extensions

node --version
v7.2.0

"babel-eslint": "7.1.1"
"eslint": "3.12.0"

"babel-plugin-module-resolver": "^2.4.0"
.babelrc
[code]

"es

[2016-12-19 21:34] artola commented on #33
I also tried a different approach ... using a glob for "root", but I can not get the same on ESLint ... then I added some "paths" to obtain a similar result. BUT, I would prefer to have also a glob there to avoid overhead maintaining this config. Is it possible? or some idea?

.babelrc
`
{
  "plugins": [
    ["module-resolver", {
      "root": ["./src/**/"]
    }]
  ],
  "presets": ["es2015", "rea

[2016-12-19 23:10] tleunen commented on #30
Closing due to non activity. Let me know if it's still an issue

[2016-12-19 23:10] #30 closed

[2016-12-19 23:14] tleunen commented on #33
Looks like I missed your first message, my bad :(

Setuping the paths shouldn't be required in the eslint plugin. It should reuse the ones from the babel plugin.

By any chance, would you have a repo where you have the issue?

Also, in your first message, is the issue with the root configuration or the alias? If you don't specify the extensions also in the eslint config, does it solve the issue? B

[2016-12-19 23:41] artola commented on #33
Tks ... babel-plugin works perfect using a glob for `root` or with `path`. While eslint-plugin only works if I add `extensions` and `path`.  I did several tries:
"babel-module": {}  => NO
"babel-module": {
  "extensions": [".js", ".jsx"]
} => NO
"babel-module": {
  "extensions": [".js", ".jsx"],
  "root": ["./src/**/"]
} => NO
"babel-module": {
  "extensions": [".js", ".jsx"],
  "paths": [
      "

[2016-12-19 23:45] tleunen commented on #33
This could actually be an issue if you have another components directory somewhere else, right?

The only thing I see is the glob then, it must be an issue with that. I'll make some tests

[2016-12-20 02:29] artola commented on #33
Please take a look to this repo: https://github.com/artola/plugin
And [README](https://github.com/artola/plugin/blob/master/README.md) shows 3 scenarioswith different configs.
I found that in all of them the resolution is OK, seams to be ESLint wrong doing.
Any idea?

[2016-12-20 03:05] tleunen commented on #33
So I've been investigating on my side and your repo also confirmed what I found. Thanks @artola.

So even though the babel plugin supports a glob configuration, the eslint import plugin doesn't.
The glob configuration is done during the babel parsing, but the eslint plugin doesn't reuse that so I missed it.

I'll make sure to add glob support here.

In the meantime, you can use this babel configur

[2016-12-20 05:56] artola commented on #33
Thanks a lot @tleunen I do believe that these plugins are the best way in the moment to deal with relative path, because Babel glue all the parts, and having the config in only one place make sense.
Looking forward for your support.

[2016-12-20 12:55] artola commented on #33
@tleunen  I did the changes that you advised, it works OK for ".js" files ... as soon as I rename some as ".jsx" it is not resolving properly.
Solved adding `extensions` to `babel-module`. Note: `extensions` at `module-resolver` don't work (seems no fallback to default extensions).
[code]

[2016-12-20 13:12] tleunen commented on #33
And I believe you're also right, the eslint plugin doesn't reuse the extensions from the babel plugin. This should be added :)

Will make all these fixes when I get some time this week (Probably tomorrow). Thanks again.

[2016-12-25 17:20] greenkeeper[bot] opened #35 "An in-range update of eslint-config-tleunen is breaking the build 🚨"
## Version **1.1.0** of [eslint-config-tleunen](https://github.com/tleunen/eslint-config-tleunen) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/tleunen/eslint-import-resolver-babel-module/compare/greenkeeper%2Feslint-config-tleunen-1.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2016-12-25 17:25] #35 closed

[2017-01-04 18:06] machineghost opened #36 "Still Getting import/no-unresolved ESLint Errors Despite Using Plugin"
I have a `.babelrc` that uses the `module-resolver` plugin:

    "plugins": [
      ["module-resolver", {
        "root": ["./frontend/src"],
        "alias": {
          "components": "./frontend/src/components"
        }
      }]
    ]

I also have an `.eslintrc` that, *in theory*, is configured to use Babel to resolve imports via `eslint-import-resolver-babel-module`:

    "parser": "babel-esli

[2017-01-05 19:07] andykenward commented on #36
@machineghost try changing the alias to

[code]

as you have set the root to
[code]
already

[2017-01-05 19:09] tleunen commented on #36
Interesting, it should definitely work with your initial config.
Would you have a repo where this happen so it's easier for me to reproduce and figure out what happen in your case?

[2017-01-09 17:01] machineghost commented on #36
@andykenward thanks for the suggestion, but it didn't help :(

@tleunen Unfortunately this is a private project and the customer is super-protective, so I can't show the repo, but I'll try to provide everything relevant.

My entire .babelrc is:

    {
      "presets": [
        "es2015",
        "react"
      ],
      "plugins": [
        ["module-resolver", {
          "root": ["./frontend/src"],

[2017-01-20 12:42] k7sleeper commented on #33
What's about `.jsx` files? Is it fixed?

[2017-01-24 00:55] machineghost commented on #36
If there is any other information I can provide please let me know and I will be happy to.

[2017-01-24 00:59] tleunen commented on #36
I've been busy with a few personal issues recently so I couldn't spend time on the few open tickets I have in my OSS projects.

But if you could create a repo/project with the code you had in the previous message, it will definitely help (me or others) to find the issue and hopefully a fix since we won't have to setup the initial project ourselves.

[2017-02-04 18:33] craigcosmo commented on #36
I also have this problem, And I created a simple demo for you.

https://github.com/craigcosmo/eslint-resolve-plugin-bug-demo

You can `npm run lint` to reproduce

[2017-02-04 23:58] tleunen commented on #36
Hey @craigcosmo,

In your case, the reason why it doesn't work in because you're using a glob setting for the root configuration. Currently, the eslint plugin doesn't support that. I need to release a new version of the babel plugin, then make a fix here to make it work properly.

I'll do it later today or tomorrow.

[2017-02-05 00:03] craigcosmo commented on #36
Thanks for making such a good babel plugin. It's something I wanted to build when I got time, you made it first :)

[2017-02-05 18:44] craigcosmo commented on #36
@tleunen don't know why but problem still persists after update v2.5 and v2.2.1

[2017-02-05 18:47] tleunen commented on #36
Yep, this is because I still need to release a new version for the eslint plugin :)
I'm fixing another small issue with custom extensions and I'll release a new version.

[2017-02-05 18:55] tleunen commented on #33
Released a 3.0.0 with a fix for the extensions.

[2017-02-05 18:55] #33 closed

[2017-02-05 18:55] tleunen commented on #36
Released a 3.0.0 with a fix for the glob.

[2017-02-05 18:55] #36 closed

[2017-02-05 21:00] machineghost opened #40 "Re-Opening Issue 36"
I originally created issue #36, but it was closed without resolving my underlying problem.  While I'm sure it solved a different issue, my issue (even after installing the latest version, 3.10.10) unfortunately remains.

One again here are my relevant bits from my relevant files ...

.eslintrc:

    {
      "extends": "airbnb",
      "parser": "babel-eslint",
      "plugins": [
        "babel"

[2017-02-05 21:25] tleunen commented on #40
Sorry about that @machineghost. Let's find out what is causing your issue :)

First, let's remove the alias/root config set in your eslint config. The one from the babel plugin will be used anyway.

Then it seems you can replace your babel config with this one:
[code]

Having both root and alias shouldn't conflict, but it will be easier to remove any extras :)

Do you think you could build a small

[2017-02-05 21:47] machineghost commented on #40
https://github.com/machineghost/eslint-import-resolver-babel-module-issues-40

Run `npm run demo` to see the failure (and a few not relevant ones):

    /Users/jwalker/eslint-import-resolver-babel-module-issues-  40/src/components/ui/countryPicker/index.jsx
      1:1   error  'components' should be listed in the project's dependencies. Run 'npm i -S components' to add it  import/no-extraneous-depe

[2017-02-06 00:24] tleunen commented on #40
In your demo, the root config is not properly set. It should be `"root": ["./src"],`

[2017-02-06 05:24] machineghost commented on #40
Sorry about that (side effect of simplifying a more complex project).  I've corrected the demo repo.

[2017-02-06 13:13] tleunen commented on #40
I got it working yesterday when I tried so I thought it was the only issue.

After removing the old plugins (module-alias) and upgrading to these 2 versions, everything is fine.

[code]

[2017-02-06 13:14] tleunen opened #41 "The eslint plugin can catch unrelated errors"
When an error is inside the babelrc file, this eslint plugin can catch these errors, but they are unrelated to eslint or the babel module resolver plugin.

Example:
[code]

[2017-02-07 16:51] machineghost commented on #40
That was the problem, thanks so much and sorry for bothering you.

[2017-02-07 16:51] #40 closed

[2017-02-07 16:52] tleunen commented on #40
No worries :) Glad I was able to help!

[2017-02-15 16:43] craigcosmo opened #42 "can not resolve some module in sublime text"
<img width="846" alt="screen shot 2017-02-15 at 11 29 42 pm" src="https://cloud.githubusercontent.com/assets/538657/22984210/3a58961e-f3d7-11e6-9de0-74a9f0f023fa.png">

I had `sublime linter` & `sublime contrib eslint` installed.

**babel config**
[code]

**eslint config**
[code]
Good thing: sublime can recognize the module from node_modules.

Bad thing: sublime can not recognize the modules  `con

[2017-02-17 18:54] mikemonteith opened #43 "module resolving when cwd === "babelrc""
babel-plugin-module-resolver treats the string "babelrc" as a special case, which is not supported by this resolver.
From babel-plugin Readme:

The custom value babelrc will make the plugin look for the closest babelrc configuration based on the file to parse.

babel-plugin relevant code:
https://github.com/tleunen/babel-plugin-module-resolver/blob/master/src/index.js#L53

[2017-02-23 18:07] brannon commented on #43
I just ran into this as well.  Debugging through this plugin, I can see that it's not translating the value `babelrc` to the directory of the `.babelrc` file, it's using it as a literal directory name.

[2017-02-23 18:10] tleunen commented on #43
Thank you for reporting this @mikemonteith. I'll try to take a look at it this weekend if nobody takes it before.

[2017-02-27 04:10] craigcosmo commented on #42
any clue where the bug come from?

[2017-02-27 13:15] tleunen commented on #42
What version of this plugin are you using? Using v3.0.0 should be better in your case as a fix for the globbing was added.

If you're already using the latest version, could you try to reproduce the issue in a small project so I can take a deeper look?

[2017-02-27 15:33] craigcosmo commented on #42
Yeah, I'm using version 3.0.0.

here's the demo https://github.com/craigcosmo/simple-webpack

to reproduce:
install sublime
install sublime eslint package
install sublime eslint contrib
open the project in sublime - of course install node_modules before opening it sublime
then open file home.js
you see some like the screenshot below

<img width="474" alt="screen shot 2017-02-27 at 10 31 43 pm" src

[2017-02-27 22:58] tleunen commented on #42
Thanks @craigcosmo! I have targeted the error. Sublime and Atom handle differently when things run inside a file.

For example, atom keeps its working directory with the project root while Sublime has its working directory set to the directory of the open file.

This will require an update in both babel-plugin-module-resolver and this eslint plugin. I'll see if I can do it tonight, otherwise it wi

[2017-02-28 15:50] laurence-hudson-tessella commented on #43
Have submitted a trival PR. It resolve this issue for me (babelrc & eslintrc are both in the repo root directory, but I still need to set `cwd: 'babelrc'` because I need to run `babel-node` from directories which aren't the repo root). I'm not sure about other contexts.

[2017-03-09 18:28] dlajarretie opened #46 "'no-extraneous-dependencies' when alias name matches a dependency"
Having an alias with the same name as any dependency in node_modules will result in 'no-extraneous-dependencies'.

For instance I had an alias named "color" pointing to one of my own files, and it seems that one of the dependencies in my project requires a lib called "color".
This throws 'no-extraneous-dependencies' : `import { color } from 'color';`

Now I understand it is intended that you can i

[2017-03-21 21:32] brannon commented on #43
Any luck with the pull request?

[2017-03-22 09:34] laurence-hudson-tessella commented on #43
Nope, it has been open for >20 days, without comment. #45.  In the short term I've just been using `"eslint-import-resolver-babel-module": "laurence-hudson-tessella/eslint-import-resolver-babel-module#8c76c7d11285f8297a53462fed77c4cc5d5c8e03",` in my devDeps.

[2017-03-22 10:35] tleunen commented on #43
I'm sorry, I'm very busy since the beginning of the year.

We need to update the plugin to handle the `babelrc` string. Pretty much the same logic as what we can find here https://github.com/tleunen/babel-plugin-module-resolver/blob/master/src/index.js#L78-L87. I might also export the function from the babel plugin to keep the logic in one place only.

[2017-03-26 02:35] greenkeeper[bot] opened #49 "An in-range update of eslint-config-airbnb-base is breaking the build 🚨"
## Version **11.1.2** of [eslint-config-airbnb-base](https://github.com/airbnb/javascript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/tleunen/eslint-import-resolver-babel-module/compare/greenkeeper%2Feslint-config-airbnb-base-11.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2017-03-29 04:41] greenkeeper[bot] opened #50 "An in-range update of babel-plugin-module-resolver is breaking the build 🚨"
## Version **2.6.0** of [babel-plugin-module-resolver](https://github.com/tleunen/babel-plugin-module-resolver) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/tleunen/eslint-import-resolver-babel-module/compare/greenkeeper%2Fbabel-plugin-module-resolver-2.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency

[2017-03-29 05:42] tleunen commented on #50
@fatfisz - This eslint plugins uses the babel internally for the tests, but for some reasons it fails on the regexp. Sometimes, it's like the options are not "manipulated" so the regexp array is not there.

I'll try to better understand the error tomorrow, but if you have 5 min to take a look, it will also help a lot.
[code]

[2017-03-29 17:30] fatfisz commented on #50
@tleunen Sure, I'll take a look at it.

[2017-03-29 19:51] tleunen commented on #50
Hmmm...
[code]

[2017-03-30 23:20] fatfisz commented on #50
@tleunen So I couldn't reproduce the error, but the behavior seems consistent with what was happening in Expo. Hopefully 2.6.2 will work.

[2017-03-30 23:34] fatfisz commented on #50
The master seems to be broken because of this change: 5d297a77908375b76929e0c8081977c3016ea7d6.
CircleCI failed for this commit: https://circleci.com/gh/tleunen/eslint-import-resolver-babel-module/177

That's because it's using Node v.4 for testing, which does not yet handle the default parameters.

The simplest fix would be to do `options || {}` inside the function body. An alternative is to use

[2017-03-30 23:36] tleunen commented on #50
Good catch. The build was already broken.. Damn. I'll fix it

[2017-03-30 23:49] #50 closed

[2017-03-30 23:49] #49 closed

[2017-04-03 23:22] greenkeeper[bot] opened #51 "An in-range update of eslint-config-airbnb-base is breaking the build 🚨"
## Version **11.1.3** of [eslint-config-airbnb-base](https://github.com/airbnb/javascript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/tleunen/eslint-import-resolver-babel-module/compare/greenkeeper%2Feslint-config-airbnb-base-11.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2017-04-21 18:10] satya164 commented on #26
I'm facing the same issue. The package is installed correctly. example https://github.com/satya164/react-navigation-addons

lemme know what details you need.

[2017-04-23 23:26] #51 closed

[2017-04-24 16:32] tleunen commented on #46
I will see if we can do anything about it, because I agree with you, everything can become a node module and we don't really want to break our builds because a word we used became a node dependency.

Maybe this is happening because eslint-plugin-import is run before this custom resolver for the no-extraneous-dependencies? @benmosher any insights?

[2017-04-24 18:07] benmosher commented on #46
actually, I think if that rule is on it will report on any non-relative import (i.e. no leading `./` or `../`) that isn't listed in the `package.json`.

I have a mental item for resolver spec version N+1 (3? I think) to allow resolvers to declare "core" modules to supersede this. ATM, though, there's no workaround short of defining any such alias as a core module in your `.eslintrc.*`: https://git

[2017-04-25 00:21] #43 closed

[2017-04-25 00:33] tleunen commented on #43
nvm, it still breaks inside atom or sublime. Will continue to investigate

[2017-04-25 00:47] tleunen commented on #43
Please try again with 4.0.0-beta.1 :)

[2017-04-25 08:50] laurence-hudson-tessella commented on #43
Thanks Tommy, `4.0.0-beta.1` with `3.0.0-beta.0` of the babel plugin works in my scenario (ie babelrc & eslintrc are both in the repo root directory).

[2017-04-25 10:43] tleunen commented on #43
Great! Thank you for reporting this.

[2017-05-16 07:10] alexfedoseev opened #59 "Imports w/ query"
Is there any way to handle imports w/ query (used by webpack loader)?

[code]

[2017-05-16 21:02] tleunen commented on #59
Hi @alexfedoseev, do you know if it's only an eslint error to now handle these paths, or it's not handled at all by the babel plugin (https://github.com/tleunen/babel-plugin-module-resolver)?

[2017-05-17 05:40] alexfedoseev commented on #59
Hi @tleunen, this is only eslint issue, it works great w/ babel plugin.

Here is the repo to reproduce: https://github.com/alexfedoseev/blog

[2017-05-17 06:06] tleunen commented on #59
Thanks for confirming.

I'm guessing it's not possible to use both the webpack resolver and this one. Since they will both fail probably.

I agree that we should probably support it here too. It shouldn't take long, the logic should be fairly easy to implement. I'll take a look tomorrow at the latest.

[2017-05-17 06:11] alexfedoseev commented on #59
Thanks a lot, @tleunen!

[2017-05-17 15:48] #59 closed

[2017-05-17 15:53] tleunen commented on #59
@alexfedoseev I released a `4.0.0-beta.2`, but this version is only compatible with babel-plugin-module-resolver 3.0 beta. So you should install `3.0.0-beta.3` for the babel plugin too.

[2017-05-17 16:59] alexfedoseev commented on #59
@tleunen Thanks for the quick fix! I just tested it, initial error is gone, but now it throws another one:

[code]

If I remove query, then this error is gone.

[2017-05-17 17:25] tleunen commented on #59
You need to add the image extension (.jpg for example) in the ignore list for the `import/extensions` settings. See https://github.com/benmosher/eslint-plugin-import#importignore

[2017-05-17 18:30] alexfedoseev commented on #59
Just tried and it doesn't work: still reports `Missing file extension` w/ query and passes w/o query (either w/ or w/o extension in `ignore` list).

[2017-05-17 18:47] tleunen commented on #59
Could you create a PR on your repo with what you tested? I'd like to play with it.

[2017-05-18 03:56] alexfedoseev commented on #59
@tleunen Sure! Here it is: https://github.com/alexfedoseev/blog/pull/1

[2017-06-02 14:09] davemcorwin opened #61 "not resolving node_modules, aliases or relative imports in vscode"
<img width="724" alt="screen shot 2017-06-02 at 9 08 02 am" src="https://cloud.githubusercontent.com/assets/6662371/26729358/080ea208-4773-11e7-9f53-09a6724b1875.png">
<img width="724" alt="screen shot 2017-06-02 at 9 07 43 am" src="https://cloud.githubusercontent.com/assets/6662371/26729359/0818f082-4773-11e7-94e7-dbfea750e21e.png">

.babelrc
[code]
.eslintrc.yml
[code]

any thoughts? something I

[2017-06-02 15:45] tleunen commented on #61
Could you show me the structure of your project?
If you have a public repo with the issue, I'd love to take a look

[2017-06-02 16:29] davemcorwin commented on #61
Thanks for the quick response! Unfortunately, its not a public repo. I'm using [Next.js](https://github.com/zeit/next.js) and sticking with their file structure so far, but its nothing unusual (other than not having a root `src` dir):
- /
  - node_modules
  - components
  - pages
  - gql
  - lib
  - .babelrc
  - .eslintrc.yml
  - etc...

It seems strange that it can't resolve stuff from node_modul

[2017-06-02 16:32] davemcorwin commented on #61
Also, it is something within eslint itself not VSCode, i have the same issues in Atom and running on the command line.

[2017-06-02 16:37] davemcorwin commented on #61
sorry to spam, here is my entire .babelrc:
[code]

The `next/babel` preset can be found [here](https://github.com/zeit/next.js/blob/v3-beta/server/build/babel/preset.js)

[2017-06-02 16:41] tleunen commented on #61
I bet this is some strange edge cases with the custom root being `"."`.

Could you try removing it, but keeping your alias for the directories?

[2017-06-02 18:07] davemcorwin commented on #61
no change. Wondering if it can find the file, since it displays the module in the popup (see screenshots above), but for some reason it can't resolve the export. Could it be something i'm missing on the babel side ?

[2017-06-02 18:10] davemcorwin commented on #61
the aliases work in the actual application so I think that the module-resolver config in .babelrc is ok, its just eslint that can't find it.

[2017-06-02 18:21] davemcorwin commented on #61
Hmm, i got it to work for node_modules and relative paths by changing the following in my .eslintrc.yml:

from
[code]
to
[code]

[2017-06-02 19:21] davemcorwin commented on #61
OK. I downgraded to v2.2.1 and everything works. My hunch (not confirmed) is that the issue was caused by [this](https://github.com/tleunen/eslint-import-resolver-babel-module/blob/master/src/index.js#L20) where you're trying to identify the babel-plugin-module-resolver plugin by checking equality of a function. In my case, the newest version of this requires v3.x of that plugin, but my project re

[2017-06-02 19:51] tleunen commented on #61
What do you mean by v2 vs v3?

[2017-06-02 20:05] davemcorwin commented on #61
in package.json for this repo:
[code]

But in Next.js (and my app):
[code]

[2017-06-02 20:07] tleunen commented on #61
Oh yes, indeed, in that case you cannot use the v3 beta version

[2017-06-04 00:26] josepot opened #62 "It doesn't seem to work with .babelrc.js"
First of thanks for maintaining this library, I've been using it for a while and I like it a lot.

I'm having an issue that I think that it has to do with the fact that I'm using a `.babelrc.js` file rather than the typical `.babelrc`, the thing is that with the `.babelrc.js` configuration this module doesn't work. Perhaps is because that's a new feature of babel 7?

This are the versions of the r

[2017-06-09 11:40] pkuczynski commented on #61
@davemcorwin which package you downgraded to 2.2.1? I have a similar issue...

[2017-06-09 15:43] davemcorwin commented on #61
@pkuczynski `eslint-import-resolver-babel-module` v2.2.1. Its not the specific version that matters as much as making sure that all of your dependencies are using the same version of `babel-plugin-module-resolver`.

[2017-06-16 23:10] kmck commented on #61
I'm having a similar problem with `"root": ["."]` in my `.babelrc` triggering `import/no-unresolved` when using`eslint-import-resolver-babel-module@3.0.0`. Downgrading to `2.2.1` fixed the problem. I have `babel-plugin-module-resolver@v2.7.1` installed.

Interestingly, if I specify `root` as an absolute path, it does work, so @tleunen I think you might be right about it being some kind of edge cas

[2017-06-16 23:22] tleunen commented on #61
It would be interesting to see if you have the issue while using the beta version for both the babel plugin and the eslint plugin, as we're moving towards this version.

[2017-06-16 23:31] kmck commented on #61
No dice. Same issue with `eslint-import-resolver-babel-module@4.0.0-beta.2` + `babel-plugin-module-resolver@3.0.0-beta.2`

[2017-06-16 23:34] tleunen commented on #61
Thank you, I'll reopen and make some tests

[2017-06-19 18:33] Darex1991 commented on #61
Hi ;) The same here:
I tried:
1)
[code]
2)
[code]

**My conf:**
eslint.yml:
[code]
.babelrc:
[code]

[2017-06-19 18:41] pkuczynski commented on #61
I ended up using `eslint-import-resolver-webpack`, which works just perfectly! Additionally, I am using `babel-plugin-webpack-alias` to use webpack aliases in babel/mocha

[2017-06-19 18:48] Darex1991 commented on #61
But for react-native it's a bad idea to use webpack server ;)

[2017-06-19 19:46] pkuczynski commented on #61
Well, I am not doing react native and only left the note for others, who might encounter similar issue :)

[2017-07-19 07:40] rojobuffalo commented on #61
Getting a similar problem to what others have mentioned.

Working (v2):
- `eslint-import-resolver-babel-module@v2`
- `babel-plugin-module-resolver@v2`

Breaking (beta):
- `eslint-import-resolver-babel-module@v4.0.0-beta.3`
- `babel-plugin-module-resolver@v3.0.0-beta.4`

With the beta packages, the aliases work but files in the root throw `Unexpected token import`. With the later, if I change the `

[2017-08-07 16:53] Misiur commented on #25
I'd suggest putting https://github.com/tleunen/eslint-import-resolver-babel-module/issues/25#issuecomment-242980792 in readme, because I just lost a few hours not knowing it won't find `.jsx` files

[2017-08-18 03:14] mshick commented on #61
I'm also having problems with the eslint resolver, while the babel portion is working correctly.

Oddly, in my case, I only have eslint resolution problems if the `import` location is 5 directories deep relative to the working directory. The exact same import at 4 levels deep has no issues. The location of the files that are being imported seems to make no difference.

I've tried going to v2, as w

[2017-08-31 23:29] psychobolt commented on #61
I got it working with @davemcorwin suggestion of downgrading.

 "babel-plugin-module-resolver": "^2.7.1",
 "eslint-import-resolver-babel-module": "2.2.1",

[2017-09-01 16:42] GabrielDuarteM opened #65 "Error matching subfolders inside the alias"
When i have an alias to a folder that has a subfolder inside, `babel-plugin-module-resolver` is able to identify with no problems when i try to import something from the subfolder, but when i have the rule `import/no-extraneous-dependencies` enabled, eslint throws me an error stating that i should install `@common/utils`, not recognizing that i have a `utils` folder inside the `@common` alias.

Is

[2017-09-12 03:56] xxn520 opened #66 "eslint out of project"
My eslint is in a devtool, although `plug.container` and `target` is both `babel-plugin-module-resolver`, but they are from two node_modules, so the `plug.container === target` is still `false`。

now I use
[code]
to fix it.

Is there any other solution for eslint out of project.

[2017-09-13 03:35] tleunen commented on #66
Could you explain why you don't have eslint in your project?
I'm not sure to understand.

[2017-09-13 06:10] xxn520 commented on #66
We have a lot of projects, so we develop a cli tool that contains `eslint` to support all projects. We install this cli tool globally, rather than install eslint in every project.

[2017-09-28 17:06] tayfunyasar commented on #65
I'm having same error.

Here is my configs.

package.json

[code]
.babelrc
[code]
.eslintrc
[code]

usage:
`import MessageBox from '@components/ui/MessageBox';
`
errors:
@components/ui' sh```
ould be listed in the project's dependencies. Run 'npm i -S @components/ui' to add it (import/no-extraneous-dependencies)
Absolute imports should come before relative imports. (import/first)
Unable to resolve

[2017-10-09 00:32] phyllisstein opened #67 ""TypeError: Cannot read property 'find' of undefined" with Babel 7.0.0-beta.2."
Running the latest beta of Babel 7, I'm seeing some trouble with the reference to `OptionManager.memoisedPlugins`:

[code]

Seems to happen in both a Lerna-managed repo and a standard-issue flat repo. Unfortunately the Babel team moved the location of the `OptionManager` class in Git so I'm not sure how to figure out when the property might have changed or what it might have changed to. If you hav

[2017-10-09 19:13] tleunen commented on #61
Please provide with a real project to easily reproduce the issue. From my usage, everything looks fine with Code so it must be some sort of a configuration conflict.

[2017-10-09 19:15] tleunen commented on #65
The problem is probably the way you setup the alias. `"@components": "/components",` shouldn't have a leading `/`, otherwise it will look in the wrong directory (the system root).

Removing the slash should make it work.

[2017-10-09 19:15] #65 closed

[2017-10-09 19:19] tleunen commented on #66
Does it mean you have 2 different `babel-plugin-module-resolver` installed in your setup?

To be able to fix your issue, instead of an object comparison with the container, we could check the name of the plugin instead. But I don't know if it's an information we have access to.

Instead of changing the `getPlugin` call. Could you try to replace the condition `plug && plug.container === target` by

[2017-10-09 19:20] tleunen commented on #67
Thank @phyllisstein. I'll be working with adding compatibility with Babel 7 soon.

[2017-10-10 00:59] tleunen commented on #67
Fixed in master, with the help of @nodkz.
I'll make a release tomorrow or the day after depending of my time. You can also expect to see it as the real v4. No more beta.

[2017-10-10 00:59] #67 closed

[2017-10-10 01:00] tleunen commented on #66
I updated to use the name instead. In latest master (not published yet). Hopefully it will solve your issue.
https://github.com/tleunen/eslint-import-resolver-babel-module/blob/master/src/index.js#L26

[2017-10-10 01:00] #66 closed

[2017-10-10 01:01] #46 closed

[2017-10-10 02:05] phyllisstein commented on #67
That's awesome! Thank you so much, I appreciate the fast turnaround and all your hard work on this package.

[2017-10-10 05:43] craigcosmo commented on #42
just download the latest version of `eslint-import-resolver-babel-module` and `babel-plugin-module-resolver`. I still see the error

[2017-10-10 05:50] tleunen commented on #42
With both beta versions? Hmm.. Is it reproducible again in your test repo above?

[2017-10-10 06:29] craigcosmo commented on #42
With beta versions of both package, this issue is resolved.

[2017-10-10 06:29] #42 closed

[2017-10-11 19:33] tleunen commented on #62
Thank you @josepot. The issue is already fixed in master. I'll publish a new version soon with the recent changes.

[2017-10-11 19:33] #62 closed

[2017-10-13 05:15] aaronjensen opened #70 "Looks like it cannot find module-resolver config if it's in a preset"
We're using a preset for our app that contains our module-resolver config. This resolver appears to only read config if it is directly in the .babelrc. It'd be great if it would walk the entire config, though I'm not sure how challenging that would be.

[2017-10-14 18:05] JavoByte opened #71 "Cannot get it to work with folders"
I'm using `babel-plugin-module-resolver` to avoid importing from `../../folder` and it's working. However, linter is annoying me since I cannot get this `eslint-plugin` to work.

I have this in my `eslintrc.json` file:

[code]

And this in my `.babelrc` :

[code]

All aliases are folders. I've tried to add `root` config but didn't work either.

I got it to work via console adding `cwd` to `.` but

[2017-10-15 01:10] tleunen commented on #71
Is this only with sublime? Sublime manages the cwd differently compared to Atom and Code, but I thought we fixed the issue.

Would you be able to setup a small repo to reproduce the issue, without the react native dependency if possible?

[2017-10-15 01:11] tleunen commented on #70
Which version are you using? Could you share your babelrc file? I'd like to try it.
Because we're using babel to know the configuration, so it should see the plugin inside a preset.

[2017-10-15 01:28] aaronjensen commented on #70
`4.0.0-beta.5`
Our preset isn't public, but something like this should repro it:

`.babelrc`:

[code]

`node_modules/babel-preset-my-preset/index.js`:

[code]

[2017-10-16 14:34] Justkant commented on #70
I can confirm that the `4.0.0-beta.5` is not working but the `3.0.0` is working with the same config.

---

<details><summary><code>.babelrc</code></summary><p>

[code]
</p></details>

---

<details><summary><code>.eslintrc.js</code></summary><p>

[code]
</p></details>

[2017-10-16 14:38] Justkant opened #72 "Unable to make 4.0.0-beta.5 work"
I think that the `4.0.0-beta.5` is not working but the `3.0.0` is working with the same config.

---

<details><summary><code>.babelrc</code></summary><p>

[code]
</p></details>

---

<details><summary><code>.eslintrc.js</code></summary><p>

[code]
</p></details>

[2017-10-16 16:47] Justkant commented on #72
I got the `4.0.0-beta.5` working with the same config after updating `babel-plugin-module-resolver` from `2.7.1` to `3.0.0-beta.5`

I think the issue here is the difference with the latest of `babel-plugin-module-resolver` vs `eslint-import-resolver-babel-module` while installing those packages actually

[code]

[2017-10-16 18:53] tleunen commented on #72
Argh. I made a mistake when publishing the beta.4, so I removed it and did a new beta.5 with the right tag. I would have thought the latest would go back to v3, not the latest published version :s

This is my fault. Sorry. I'll really try to push the final versions in the next few days to resolve this issue.
In the meantime, you should use the eslint plugin v3 with the babel plugin v2. Otherwise,

[2017-10-16 20:42] Justkant commented on #72
No problem, I just wanted to ping back when I saw the beta for `babel-plugin-module-resolver`.

BTW I use the beta now and saw no problem 👍

[2017-10-16 20:42] #72 closed

[2017-10-18 16:21] andrevenancio opened #73 "npm update"
Not sure I'm missing something but when I run `npm i --save eslint-import-resolver-babel-module` I get the version 4.0.0-beta.3

This version requires me to install peerDependency as per the warning
[code]

However running `npm i --save babel-plugin-module-resolver@3.0.0-beta` return an error

[code]

Am I missing something?

[2017-10-18 21:08] reohjs commented on #73
I think it's a semver issue - the peerDependency should be `^3.0.0-beta.0`

Though, even after installing `beta.0`, I'm getting `has incorrect peer dependency babel-core@^6.0.0` cause I have `^7.0.0-beta.2` but the constraint is set to `^6.0.0 || >7.0.0-alpha`...

[2017-10-19 19:14] jacobmischka commented on #61
I think the problem is that currently `eslint-import-resolver-babel-module@latest` resolves to `4.0.0-beta.3`, which isn't compatible with `babel-plugin-module-resolver@latest`.

It seems like `@beta` for both aren't compatible either unfortunately, but locking them to what @psychobolt suggested is working.

Thanks for all your work on this great package!

[2017-10-19 19:19] tleunen commented on #61
Both beta should work together. I'd love having a project to play with. Since I'm not able.to reproduce your issues with my setup.

[2017-10-19 19:33] jacobmischka commented on #61
Sorry, this is a private project. I'll try to throw something together tonight if I have time. But here's a log:

[code]
[code]

[2017-10-19 19:45] tleunen commented on #61
Could you also share your plugin config?

[2017-10-19 20:20] jacobmischka commented on #61
Sure!

[code]

[2017-10-19 20:22] jacobmischka commented on #61
It's a bit of a bloated mess. If you can't reproduce the problem then it's probably because of the vue parser. If it's still happening when both betas are released I'll raise an issue there.

[2017-10-19 20:23] tleunen commented on #61
What about the babel plugin config? Only the module-resolver config would be fine

[2017-10-19 20:24] jacobmischka commented on #61
Oh sorry, of course.

[code]

[2017-10-19 20:24] psychobolt commented on #61
Hello!

This issue has not reproduced for me. My repo: https://github.com/psychobolt/react-electron-boilerplate

Since then I've used:
"babel-plugin-module-resolver": "^2.7.1"
"eslint-import-resolver-babel-module": "^3.0.0",

[2017-10-19 20:27] jacobmischka commented on #61
Oh it's because I overrode `extensions` without adding `.js` isn't it, sorry my mistake!

[2017-10-19 20:27] tleunen commented on #61
Might be an error of our side. Instead of merging the extensions, we're replacing them. So because you specify `.vue` as an extension. Only those files will be used.
Try replacing the extensions with this (adding vue): `['.js', '.jsx', '.es', '.es6', '.mjs', '.vue']`

[2017-10-19 20:28] jacobmischka commented on #61
Yeah oops, thank you! Missed that it says it overrides it and not merges, my fault!

[2017-10-23 10:46] benbender commented on #61
I do also had problems with different combinations of
babel-plugin-module-resolver & eslint-import-resolver-babel-module. It turns out that its not about the versioning of those two packages directly but a combination with the 7.x-beta with babel's core-infrastructure. If I downgrade babel to stable versions latest stable and betas of the import-modules are working fine. If I install babel + prese

[2017-10-30 14:34] danez commented on #70
I have the same problem, just that we use not `require.resolve` but `require` directly.

Seems when trying to find the config this package now requires the plugin to be applied by name. and not with `require.resolve` or `require`

[2017-11-03 05:27] shqld commented on #61
Reloading editor could be helpful, if you are seeing errors only in VSCode (not in CLI).

[2017-11-08 06:52] tleunen opened #74 "Tests fail with babel v7"
It seems it was working fine with babel 7 beta.2, but the new versions fail.

cc @fatfisz

[2017-11-08 11:04] fatfisz commented on #74
Will check in a bit!

[2017-11-08 22:35] fatfisz commented on #74
Heads up: I'm getting weird errors when trying to run the tests:
[code]

This is the case for all 7.0.0-beta packages. I'm trying to get around this right now.

[2017-11-08 22:48] tleunen commented on #74
Hmm.. Yep they changed it to be `@babel/core` I believe since beta.X. But even after changing them, I still got the error. I'll have a bit more time tonight to investigate further too

[2017-11-08 22:58] fatfisz commented on #74
For now I just set versions to 7.0.0-beta.3 and it works, but I couldn't find a solution. Btw. I checked with yarn and it just asked me to select from the list of versions, so maybe the resolution only works with we're dealing with X.Y.Z?

[2017-11-09 10:05] fatfisz commented on #74
I got something to work on v.7.0.0-beta.3, will try other versions next. I probably won't be able to do much today, so look forward to tomorrow ;)

[2017-11-13 08:51] ctavan commented on #73
@tleunen the incorrect tag is causing some trouble for modules using automated dependency updating mechanisms. Would you mind correcting the `latest` label or is the v3 coming in the next days anyways?

[2017-11-13 19:39] tleunen commented on #73
Yes, we need to fix #74 first, I'll investigate again tonight.
We released officially the babel plugin, so an official release of the eslint plugin will come soon, once we fix the issue as I said. I didn't plan that one :( Ideally, both would have been updated at the same time

[2017-11-15 14:31] tomas-paronai commented on #61
@shqld OH! Reloading the VSCode actually did it!

[2017-11-25 13:48] itrelease opened #77 "Still getting import/no-extraneous-dependencies error"
In my `.babelrc`:
[code]

in `.eslintrc`:
[code]

but eslint getting error on line:
[code]

[2017-12-05 19:41] rkirsling commented on #73
Any further word on this?

[2017-12-08 07:42] chuck0523 commented on #77
Below worked for me.

[code]

Example in code: https://github.com/tleunen/eslint-import-resolver-babel-module/blob/master/src/index.js#L87

[2017-12-09 22:21] rkirsling commented on #73
This shouldn't be closed until v4 is released...?
"You can't simply use this package without locking its version" is an outstanding issue which seems to only be tracked here.

[2017-12-09 23:25] tleunen commented on #73
Agreed. I plan to release v4 with a support for Babel 6 only, and a v5 beta for Babel 7.
More info tomorrow.

[2017-12-11 04:32] #41 closed

[2017-12-11 05:07] tleunen commented on #74
Fixed in #78

[2017-12-11 05:07] #74 closed

[2017-12-11 05:08] tleunen commented on #73
v4 has been released with babel 6 only.
v5.beta with babel 7 will be published very soon.

[2017-12-11 05:08] #73 closed

[2017-12-11 05:11] tleunen commented on #70
Closing since it was fixed in babel-plugin-module-resolver in its version 3.

[2017-12-11 05:11] #70 closed

[2017-12-11 05:12] tleunen commented on #71
Closing because of inactivity.

[2017-12-11 05:12] #71 closed

[2018-01-04 10:57] blackxored commented on #41
I'm having this same issue apparently. Why was it closed?

[2018-01-08 13:18] ndillon1 commented on #77
@tleunen are you able to address this issue ? I am also having the same problem and the above workarounds do not solve the problem

babel.rc
[code]

eslint.js
[code]

[2018-01-09 11:49] lucasbento commented on #77
@tleunen: can you shed some light on this? I thought the plugin wasn't loading the options but it is,
not sure what's wrong but I'm getting the same error and everything seems to be configured right:

[code]

[code]

[code]

[2018-01-09 12:09] itrelease commented on #77
@lucasbento it seems the problem with `@` symbol, so as a workaround you can prefix your stuff with `src-` or something else like:

[code]

[2018-01-09 12:16] lucasbento commented on #77
@itrelease: thanks, that's exactly it!

The problem is that I still want to use `@`, `src-` doesn't look very intuitive for me, do you know if there's an specific reason for it to not work?

[2018-01-15 23:01] chickendinosaur opened #81 "Cannot resolve any @babel/ packages from .babelrc"
I'm guessing this does not work with babel 7? =(

error:
[code]

.eslintrc
"settings": {
        "import/resolver": "babel-module"
    }
[code]

.babelrc:

[code]

[2018-02-04 15:46] lunelson commented on #81
It might be that it's not resolving the name-spaced string syntax correctly... maybe try using a `.babelrc.js` file and replacing `@babel/transform-strict-mode` with `require('@babel/transform-strict-mode')`

[2018-02-05 19:58] tleunen commented on #81
Hmm... @chickendinosaur Do you still have the issue?

[2018-02-22 23:33] Izhaki commented on #61
Fresh `npm install` doesn't work:

    "babel-plugin-module-resolver": "3.1.0",
    "eslint-import-resolver-babel-module": "4.0.0",
    "babel-core": "^6.26.0",
    "eslint": "^4.15.0",

Per @psychobolt suggestion, this solves it:

    "babel-plugin-module-resolver": "^2.7.1",
    "eslint-import-resolver-babel-module": "2.2.1",

[2018-02-25 17:00] rhyek opened #82 "Support Babel 7"
Hi, love both this and babel-plugin-module-resolver. Great work. I want to move to Babel 7 and, currently, this package is the only blocker for me to be able to do that. Again, awesome work. Keep it up!

[2018-03-18 21:05] dmk255 commented on #67
@tleunen - Was this error solved? I am running v4 and am receiving the same error as above.

[code]

Note, I have tried this with both a `.babelrc` and a `.babelrc.js`.

Additionally, I have the following repository structure (from lerna). I don't think it should impact this plugin though.
<details>
[code]
</details>

My babel config is:
<details>

[code]
</details>

[2018-03-28 09:53] loyd commented on #82
Any progress?

[2018-03-28 16:19] tleunen commented on #82
Not really, I was quite busy in this beginning of the year. I'm gonna try to find some time over the weekend to address some of the issues we have here and in the babel plugin since it seems there's also an issue with babel 7 (https://github.com/tleunen/babel-plugin-module-resolver/issues/274)

[2018-04-12 00:08] Brianzchen opened #83 "Update readme with eslint options"
Hi, not sure if this is just in a place I haven't looked but where can I find the list of options? I'm trying to configure my eslint to stop giving me errors on my imports, I'm using a '.babelrc.js' file, is that supported?

Thanks

[2018-04-21 02:46] mgtitimoli opened #84 "Run compile when installing using a git dependency"
Hi there,

Before moving forward I want to thank you for all your work, I have been using the package for a long time and it's amazing, thanks!

I opened the issue since I've installed latest babel, and I noticed that the version that started using babel has not yet been published (is there a chance you can publish it?), so I point the dependency to master, and I got an error that it can't load th

[2018-04-26 14:33] Tomekmularczyk commented on #67
I'm using NextJS with `"@babel/core": "7.0.0-beta.42",` and I get the same error...

[2018-04-26 14:57] Tomekmularczyk commented on #82
I'm using nextjs@6.0.0-canary.6 which uses `"@babel/core": "7.0.0-beta.42",` and I get lot of:

type of errors in console.

To fix eslint errors though I had to:

**.babelrc**
[code]
**.eslintrc**

[code]

[2018-04-28 07:06] HsuTing opened #85 "Can not use with eslint-plugin-import"
I try to use `eslint-plugin-import` with `eslint-import-resolver-babel-module`.
This can not work.

- `eslint-import-resolver-babel-module`: ^4.0.0 | ^5.0.0-beta.0
- `eslint-plugin-import`: ^2.11.0
- `babel-core`: ^7.0.0-0

When I use `eslint`, and `.eslintcache` does not exit.
It show:
[code]
I found the problem is [here](https://github.com/tleunen/eslint-import-resolver-babel-module/blob/master/

[2018-04-28 07:09] HsuTing commented on #85
Oh, my fault.
I found the problem. I had a filename `eslint.js`.
Sorry to disturb you.

[2018-04-29 14:13] srghma commented on #82
throws error:

[code]

[2018-04-29 14:26] tleunen commented on #82
Please upgrade to v5 beta 0 as @srghma said and report any errors with it. But it's normal v4 doesn't work with babel7

[2018-04-29 14:26] #82 closed

[2018-04-29 14:27] tleunen commented on #81
Closing because of inactivity

[2018-04-29 14:27] #81 closed

[2018-04-30 04:01] HsuTing commented on #85
I still get `[eslint-import-resolver-babel-module] TypeError: Cannot read property 'find' of undefined`, when `import/no-unresolved` is detected.

[code]

`eslint` does work, but I think this error should not be shown.

[2018-05-03 19:54] klujanrosas commented on #67
@Tomekmularczyk I upgraded to `^5.0.0-beta.0` and the error went away, using next 6 stable

[2018-05-06 18:09] trevordmiller commented on #67
I had same error using Next.js 6.0 (uses Babel 7) and it was also fixed by upgrading from `^4.0.0` to `^5.0.0-beta.0` as @klujanrosas did.

[2018-05-11 02:38] jasonleibowitz commented on #85
@HsuTing Found a workaround from #67. The latest version of this library is 5.0.0-beta.0. If you update this library to that version this issue is resolved.

I'm not sure why the default version in npm is 4.0.0. Probably because v5 is marked as beta.

[2018-05-11 02:43] HsuTing commented on #85
Oh! Sorry, I found the solution. If using `eslint-import-resolver-babel-module` with `eslint-plugin-import`, we should set like this:

[code]

@jasonleibowitz  Thank for your answer!

[2018-05-11 02:43] #85 closed

[2018-05-11 08:36] Tomekmularczyk commented on #77
I had the same problem with `@` prefix. Sad it doesn't work.

[2018-05-11 12:39] tayfunyasar commented on #77
I'm facing same issue and I want to use "@"

[2018-05-13 12:50] ItsTarik commented on #61
in my case i am using rollup to bundle nodejs project, i'm using vscode, the solution of changing the version like: ``````
![image](https://user-images.githubusercontent.com/10453938/39967517-7a27c63e-56b4-11e8-81ca-378c2ac518a5.png)

[2018-05-16 03:51] efossvold commented on #61
@benbender is correct. After tearing my hair out spending hours to fix this I finally sorted it out. I had to make sure all versions of packages in my own project matched the version node_modules/eslint-import-resolver-babel-module/package.json. This includes:

- @babel packages (7.0.0-beta.34)
- eslint (4.8.0)
- babel-plugin-module-resolver (3.0.0)
- eslint-plugin-import (2.7.0, though it works w

[2018-05-18 17:34] ItsTarik commented on #61
After trying lots of non detailed solutions that didn't worked well for me, i made it working using all last versions:

[2018-05-18 17:51] ItsTarik commented on #61
After trying lots of non detailed solutions that didn't worked well for me, i made it working using all last versions:

- `"@babel/core": "^7.0.0-beta.46",`
- `"eslint": "^4.19.1",`
- `"eslint-plugin-import": "^2.11.0",`
- `"babel-plugin-module-resolver": "^3.1.1",`
- `"eslint-import-resolver-babel-module": "^4.0.0"`

in my **.eslintrc** settings:
[code]
and the **.babelrc** plugins:
[code]

also

[2018-05-27 23:51] ItsTarik commented on #61
that was quite confusing.

[2018-06-08 05:46] SilentImp opened #86 "Is .babelrc.js supported?"
Hi,
I have some aliases inside .babelrc.js
I have added to .eslintrc this package so eslint resolve them, but with no use.
eslint can't resolve aliases.
Configs inside the gist : https://gist.github.com/SilentImp/4d005064063701faa04c29b02114d0df

[2018-06-08 07:46] SilentImp commented on #86
it look like I just need to duplicate all aliases.
not nice, but work.
is there any way to use them directly from .babelrc.js?

[2018-06-14 19:38] Nopzen opened #87 "resolver messes up with @babel/core"
Hello 👋

Im running in to this super wired issue where i set

**.eslintrc**
[code]

**.babelrc**
[code]

i get following error: `Resolve error: Cannot find module 'babel-core` see attatched
![skaermbillede 2018-06-14 kl 21 27 53](https://user-images.githubusercontent.com/2326591/41433723-0e687bbc-701a-11e8-9b57-be053a215375.png)

I can see that this project is has a peerDepencency on babel-core @v

[2018-06-14 19:41] Nopzen commented on #87
never mind, i spend 2 hrs googling the wrong things and just found your v5-beta closing

[2018-06-14 19:41] #87 closed

[2018-06-14 19:46] Nopzen commented on #77
can confirm also issues with "@" sign

[2018-06-30 21:42] jefrydco commented on #61
@ItsTarik Adding `jsconfig.json` saves me a lot, anyway how could you figure out that configuration?

[2018-07-04 19:23] joaolavoier-luizalabs opened #88 "It's not working"
As I've saw in the documentation.

[code]
 But it isn't working. It's my eslint config.

[code]
The ESlint still showing the `import/no-unresolved` error, though my `babel-plugin-module-resolver`  is working perfectly. My app is running with import absolut.

This problem is just in the ESlint that can't resolve anything with my configuration.

## Packages

[code]

[2018-07-11 20:40] mauriciord commented on #88
Hey @joaolavoier-luizalabs ,

We use this config at **iClinic**:

[code]

And `.babelrc`:

[code]

[2018-07-12 15:03] joaolavoier-luizalabs commented on #88
It hasn't worked here. The lint still complaining about the `import/no-unresolved`.

[code]

What are the dependencies that you're using to figure it out?

[2018-07-12 17:39] mauriciord commented on #88
Probably it's `eslint-import-resolver-node`

[code]

[2018-07-12 20:10] joaolavoier-luizalabs commented on #88
Thank you man! One of my mistakes was a bullshit that I did.

I've inserted the `"settings"` within the `"rules"` into the `.eslintrc.json`.

Now my eslint config is:
[code]
And babelrc

[code]

That's working perfectly. 😄

[2018-07-12 20:10] #88 closed

[2018-07-16 15:57] ohtangza opened #89 "Support babel.config.js"
As of Babel 7, it's recommended to use `babel.config.js`. Any plan to support it?

[2018-07-17 10:57] thinklinux commented on #61
@ItsTarik working for me even with "babel-core": "^6.26.0". Thanks.

[2018-07-17 15:02] laugri commented on #77
Any news on this ? Running into the same problem.

[2018-07-24 14:46] hulkish opened #90 "Please patch 4.0.0 release with peer dep module-resolve upgraded from ^3.0.0-beta to latest stable ^3.0.0"
I have done this work via https://github.com/hulkish/eslint-import-resolver-babel-module/commit/b8da48420461028e39dc106998b982f25866535a. However, since there is no `4.0.0` branch to open a PR to backport this - I'm making this issue instead to request this change. Thanks!

[2018-07-25 19:47] tleunen commented on #90
Thank you for opening a PR about it.
I agree that currently this is not ideal, and I had a few things in my personal life which prevented me from keeping these 2 projects up to date with an acceptable state. I'll try to get back at it as soon as I can. But to be honest, instead of patching v4.0.0, I'll probably go with the current v5 (which uses Babel 7).

Did you try updating to the v5 pre releas

[2018-07-25 19:50] hulkish commented on #90
Babel 7 is not an option for my work projects because it is still.in beta. While its very stable and looking great so far - it is called beta for a reason. I need essentially a babel 6 solution.

[2018-08-03 06:44] bailer commented on #61
@ItsTarik works like a charm, thank you!

[2018-08-07 06:24] AlephFive opened #91 "Aliases that begin with an exclamation mark cause errors"
Currently we are using an alias that begins with an exclamation mark in the babel plugin module resolver without any problems. However, despite this eslint will get missing file extension and unable to resolve path errors:
`1:28  error  Unable to resolve path to module '!src/routes/routes'  import/no-unresolved`
`1:28  error  Missing file extension for "!src/routes/routes"        import/extensions

[2018-08-14 08:02] #91 closed

[2018-08-23 13:25] ItsNoHax commented on #77
How is this still not fixed :( I really want to use "@" to specify that the import is an alias and I'd rather not turn the rule off as it's a valid rule for every other use case.

[2018-08-23 13:30] tleunen commented on #77
@ItsNoHax - Well. I believe we are all developers here. So if something bothers you because it's buggy, other devs will thank you if you actually try to fix it.

Having said that, I'll do my best to take a look at it by end of next week.

[2018-08-23 13:31] tleunen commented on #89
Thanks for asking. I'll add it when time allows it :)

[2018-08-23 13:31] tleunen commented on #86
`.babelrc.js` should be supported. Any issue with it?
We're using https://github.com/tleunen/find-babel-config which supports it

[2018-08-23 13:37] ohtangza commented on #89
@tleunen Thanks for your response! I'll look forward to it. Please let me know when you need any reviewer.

[2018-08-27 10:05] ItsNoHax commented on #77
Hey @tleunen, sorry if I came off rude.

Thanks for taking your time to look into it and if you need me to help you verify your solution is correct, just let me know.

[2018-09-03 09:44] artemjackson commented on #77
As workaround you may add  `"import/core-modules": "@your-package-name"` to `.eslintrc` rules section ([link](https://github.com/benmosher/eslint-plugin-import#importcore-modules))

[2018-09-12 18:43] FDiskas opened #94 "import/no-extraneous-dependencies displays errors"
the rule: `import/no-extraneous-dependencies` can't be enabled if resolver is used :(

[2018-09-12 18:47] FDiskas commented on #94
my babel aliases are
[code]

[2018-09-14 12:53] AoDev opened #95 "[Feature request] get aliases from .babelrc config"
First of all, I am unaware of all the "magic" around babel and the plugins. If what I say next is not relevant just let me know and we can close this.

I managed to make everything work by basically copying my aliases in `.babelrc` to `.eslintrc`.
This seems very redundant. Couldn't we have `eslint-import-resolver-babel-module` look for the aliases from babel config?

.babelrc
[code]

.eslintrc
[c

[2018-09-17 09:43] ItsTarik commented on #61
glad that the config worked for all of you! @jefrydco i just combined some configs from many places, that was kind of mysterious.

[2018-09-18 14:41] jieliu218 commented on #61
@ItsTarik it

settings: {
    'import/resolver': {
      'babel-module': {
        root: ['./src'],
      },
    },
  },
This part is userful

[2018-09-18 14:48] tleunen commented on #95
This looks definitely like a bug. It should definitely reuse the config from Babel.

[2018-09-18 15:00] AoDev commented on #95
Ok, I didn't know if it was supposed to take the config from there or not. I will verify again, just so you don't lose your time.

[2018-09-18 15:05] AoDev commented on #95
So, I removed the whole settings part of my .eslintrc

This:
[code]

And confirm I get this lint error:
[code]

My eslint dependencies:
[code]

[2018-09-27 10:02] luissmg commented on #95
@tleunen @AoDev I can confirm I have this same issue. The `alias` property is not being applied in the `.eslintrc` file.
The workaround is the solution above

[2018-09-28 11:39] kjagiello commented on #95
This problem seems to be solved in the latest beta.

[2018-10-05 16:16] wallynm commented on #95
I've had this error in v.4.0.0
Upgrading to 5.0.0-beta.1 as @kjagiello pointed solved the issue!

[2018-10-11 17:33] lsps9150414 commented on #87
@Nopzen Could you share more on what you found? I'm getting the same errors.

[2018-12-03 14:36] IanVS commented on #89
Hi, I'm attempting to migrate over to babel 7, and am using a `babel.config.js` file outside of my project root.  I see that there's a 5.0 beta that supports babel 7, but does not find my config file yet.  Is my best bet to specify my babel-module config inside of my eslint config file?

[2018-12-07 14:58] gnuletik commented on #94
Same here, there seems to be an issue on eslint-plugin-import : https://github.com/benmosher/eslint-plugin-import/issues/496`

[2018-12-07 15:02] gnuletik commented on #94
Oups, in fact this issue is a duplicate.
https://github.com/tleunen/eslint-import-resolver-babel-module/issues/77

[2018-12-14 22:11] kaigouthro opened #96 "Dependency error is IMPOSSIBLE."
Requires Babel
###"^7.0.0-beta.41",

 beta 41....    what the #%$$, man..

 i have @babel/core 7.26.0
i have babel-core 7.0.0-bridge.0

these are the most current.

there is no such thing as the requirement is demanding...

howboutyoufixthisstupidas#$%$$error

[code]

[2018-12-20 07:51] Alexander3 commented on #96
Same here ```
code: 'BABEL_VERSION_UNSUPPORTED',
version: '7.0.0-beta.3',
range: '^7.0.0-0'
[code]

[2019-01-02 16:59] tleunen commented on #96
Not happy? PR is welcome to fix this. We're all developers, right? You know how it works to submit a PR.

Otherwise, I'll fix it when I'll have the time, and energy, to do so.

[2019-01-16 18:22] dlong500 opened #97 "Any chance we can get v5 as a latest release?"
There hasn't been an update to the beta series of v5 since last August.  That version has been working for me, but I'm wondering why it hasn't made it out of beta for so long.  Is there something holding it back or is it unstable in some way?

[2019-01-18 21:31] tunnckoCore commented on #97
Seems to fix the

[code]

issue for me. So it looks like it worth releasing it as `latest`.

[2019-01-21 15:12] tleunen commented on #97
Yes, I'll make a release tonight. Thanks for the reminder @dlong500 and @tunnckoCore

[2019-01-22 02:58] tleunen commented on #97
v5 released. Thank you.

[2019-01-22 02:58] #97 closed

[2019-01-29 00:52] franjohn21 opened #98 "Breaks on Node 6"
This package's built code is shipping `Object.getOwnPropertyDescriptors` which is not supported in Node v6. https://node.green/#ES2017-features-Object-static-methods-Object-getOwnPropertyDescriptors

Since this repo is using babel-preset-env and targeting a Node version of 6, I wouldn't expect this to break and it may be indicative of an error in babel itself. E.g. potentially related to https://g

[2019-01-29 01:10] tleunen commented on #98
Afaik, `Object.getOwnPropertyDescriptor` is supported in Node 6. (see https://node.green/#ES2015-misc-Object-static-methods-accept-primitives-Object-getOwnPropertyDescriptor)

The link you shared is for `Object.getOwnPropertyDescriptors` (with a trailing "s"), which, indeed is not part of node 6.

Are you sure it's breaking? The code run in node 6 on the CI without issue.
Could you provide more in

[2019-01-29 01:18] tleunen commented on #98
Oh my. I should have paid more attention.
I believe they indeed fixed the issue in the latest version, because I cannot reproduce the issue when I recompile the code.

I'm on it to fix it and release a new version. Thanks for reporting the issue.

[2019-01-29 01:54] #98 closed

[2019-01-29 02:13] franjohn21 commented on #98
@tleunen Really appreciate the fast turn around. Thank you!

[2019-01-30 01:13] ashton commented on #77
I bumped with this issue today and I analysed the code and the problem is at the `eslint-plugin-import`, more specifically, [here](https://github.com/benmosher/eslint-plugin-import/blob/9bac44e629105572ca78a532c968df202e5a18b8/src/core/importType.js#L46).

Our aliases matches with this regex, and this causes the plugin to recognise the import as an external dependency, so it tries to find it in `n

[2019-02-12 03:53] lednhatkhanh opened #99 "Support typescript"
How can I config it to support typescript? The docs doesn't mention anything about this. Thanks.

[2019-04-01 15:10] buz-zard opened #100 "Babel 7 + monorepo"
After updating to babel 7 in our monorepo project, I noticed that running ESlint from root directory the aliases fail. Thought running ESlint from the `./packages/my-lib` it validates as expected.

(The code runs and transpiles via babel fine)

Dependencies:

[code]

Also `yarn - 1.13.0` and `"lerna": "^3.10.6",`

`<project-root>/.eslintrc.json`:

[code]

`<project-root>/packages/my-lib/.babelrc`:

[2019-04-01 15:16] tleunen commented on #100
Hmm.. I wonder if this is because the eslint config is not in the same directory as the babel config.

You could try to play with the [`cwd` option](https://github.com/tleunen/babel-plugin-module-resolver/blob/master/DOCS.md#cwd). I believe that having `cwd: 'babelrc'`, might fix it for you.

[2019-04-01 15:20] buz-zard commented on #100
I tried both ``"cwd": "babelrc",` and `"cwd": "packagejson",` - no success.

Also tried to make the root `.eslintrc.json` file as `"root": true,` and move the `import/resolver` part to `/packages/my-lib/.eslintrc.json` with the same result.

[2019-04-01 15:22] tleunen commented on #100
`root: true` is used by eslint only, not really by the plugin.
Is the babel plugin working fine for you? Only eslint has issues?

I'd try to see the output of [these lines](https://github.com/tleunen/eslint-import-resolver-babel-module/blob/master/src/index.js#L81-L106) in your case. Maybe you can find what needs to be fixed. I never tried to setup the plugin in a monorepo, so it might as well be

[2019-04-01 15:25] buz-zard commented on #100
Yes, the babel plugin itself runs as expected - resolves the aliases and transpiles the code. Only the ESlint has this issue.

Ok, I'll try to look into this later.

[2019-04-03 11:03] mogelbrod commented on #89
I'm having the same issue after migrating to babel.config.js (changing nothing else), even with
`npm i eslint-import-resolver-babel-module@5.0.1 babel-plugin-module-resolver@3.2.0`

**.eslintrc**
[code]

**babel.config.js**
[code]

[2019-04-03 11:20] mogelbrod commented on #89
**Update:** Running `eslint src` from the same directory as babel.config.js actually works, but the following doesn't:
[code]

I got the above to work as well by copying the `plugins[].module-resolver` `babel.config.js` section into `.eslintrc`s `settings.import/resolver.babel-module`.
Looks like eslint-import-resolver-babel-module can't find babel.config.js if it's located in parent directory?

[2019-04-23 14:42] dawidk92 commented on #99
Any updates about it?

[2019-04-25 06:37] essensx commented on #100
Why is this not merged? It affect my monorepo setup, i now get warings every time i run eslint

[2019-04-25 09:44] #100 closed

[2019-04-26 15:53] GeKorm commented on #99
Have you added the typescript extensions in your babel config? Here's my config for example, which works fine with @babel/preset-typescript

##### babel
[code]

##### eslint
[code]

[2019-04-26 19:49] diegohaz opened #102 "Possible regression with v5.1.0"
Hey, thank you very much for this project.

I've upgraded `eslint-import-resolver-babel-module` in my project from `v5.0.1` to `v5.1.0` and started seeing errors on `yarn lint`.

Here's a reproduction (tested, can just copypaste and execute):

[code]
If I run it like `NODE_ENV=test yarn lint`, it passes without errors, but I've never needed to do so. I'm not sure if it's the right solution.

For n

[2019-04-30 13:30] williansabiao commented on #102
It breaks my `alias paths` as well. I put back the `v5.0.1`, and it worked again.

[2019-05-01 08:45] tleunen commented on #102
@williansabiao Could you share your config/alias?

@buz-zard mind taking a look?

[2019-05-01 09:39] buz-zard commented on #102
@diegohaz regards `babel-preset-gatsby` the `v5.0.1` version loads babel config from root and root config doesn't have `babel-preset-gatsby` plugin enabled. That's why the tests passed.

From `v.5.1.0` babel configs are resolved from the package the code is analysed, so for `packages/website` package the babel config is taken from `packages/website/babel.config.js`. As the error is self explanator

[2019-05-23 15:21] tilgovi commented on #89
I think what is needed is for the `getPlugins` call to pass `rootMode` as an option to the option manager initialization. Probably `rootMode: 'upward-optional'`.

#101 properly sets the current working directory for the initialization of Babel's option manager so that it performs discovery from the correct place. However, with `babel.config.js` in a monorepo setup the current working directory may

[2019-05-29 13:50] williansabiao commented on #102
Sorry for my delay guys.
`{
  "extends": ["airbnb", "plugin:cypress/recommended", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "plugins": [
    "cypress",
    "react-hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "impliedStrict": false
    }
  },
  "env": {
    "es6": true,
    "browser": true,

[2019-05-30 16:49] buz-zard commented on #102
@williansabiao and where this eslint config file is located? A repro project structure would help.

[2019-05-30 19:08] williansabiao commented on #102
This file is located in the root path. I'll try to create a repro project structure late to send here.

I have the same babel.config.js file working for 5.0.1 version.

[2019-06-03 16:00] TheAifam5 opened #103 "Use 'import/extensions'"
Hey!
While debugging my configuration, I noticed that the defined `settings` is just ignored.

[code]

Please consider use this likes so:
[code]

Regards,
TheAifam5

[2019-06-06 11:42] williansabiao commented on #102
The repo is here: https://github.com/williansabiao/test-eslint-import-resolver-babel-module

I believe it happens because of the package.json inside each component folder. Once a package.json is there, the eslint is trying to use the alias from this package.json. However, my package.json it's just to name and declare which file should be used on the module import. It was working fine on the v5.0.1

[2019-06-06 20:59] buz-zard commented on #102
ok I think got a fix in https://github.com/tleunen/eslint-import-resolver-babel-module/pull/104

[2019-06-07 09:34] williansabiao commented on #102
@buz-zard I tested here with your fix, and it looks great. It's working with your fixes here. Waiting the next versio o/ Thanks.

[2019-07-25 23:43] phakphumi opened #105 "How to config custom root?"
I would like to use custom root, so I can import file like this `import A from ‘/components/A;`

Unfortunately, [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) can’t figure out that I mention to custom root.

I turn on `import/no-relative-parent-imports`.
When I import the path like `import { UserContext } from '/contexts/UserContext';`
It shows me an error `Relative impo

[2019-08-02 16:22] cdfa opened #106 "Parse error with mdx"
Hi, I'm getting a parse error on imports pointing to directories in [MDX](https://mdxjs.com/) files. I'm using `@rxts/eslint-plugin-mdx` to parse the `.mdx` files. It's possible another package is causing this, but all other imports in my `.mdx` files work fine and I don't get the error with the default node resolver.

I have his import in `FollowReveal.mdx`
[code]

File structure:
[code]
where `i

[2019-08-02 16:29] cdfa commented on #106
I just noticed that using the node resolver i do get different errors in a different import, so maybe it's not as babel resolver specific as I thought.

[2019-08-02 23:58] JounQin commented on #106
`@rxts/eslint-plugin-mdx` only exports a `parseForESLint` method for now, maybe I can add a `parse` method for compatibility usage.

[2019-08-03 07:26] cdfa commented on #106
Closing in favour of https://github.com/benmosher/eslint-plugin-import/issues/1433

[2019-08-03 07:26] #106 closed

[2019-08-13 15:52] michaelnagy commented on #105
I have the same question above, I can't make it work and there's no clear example in the docs.

[2019-08-13 18:34] michaelnagy commented on #105
I found out that the plugin in the newer versions reads config from .babelrc, as stated in this issue #95

[2019-09-25 11:47] AylwSt01 commented on #89
Any update on this? I need this too :(

[2019-10-10 21:39] NitroBAY commented on #96
seriously ? This is free open source content, you should be grateful it exists and either don't use or help fixing the code.
Devs working on free source project are not (usually) paid for doing so. Being rude at them won't ever be a motivation for them.
If you want something you either pay a product with money (and then you may complain) or with lines of code (pull request !) and constructive comm

[2019-10-13 20:21] tilgovi commented on #89
As far as I can tell from reading code, it seems as though this should already work if you specify a `root` option in the `import/resolver` `babel-module` settings to the directory containing the `babel.config.js`.

Doing anything like I said in [my previous comment](#issuecomment-495264636) is probably unsafe, because it could cause a `babel.config.js` outside the project directory to be used.

[2019-10-13 22:16] tilgovi commented on #89
I am mistaken. I had dug into this before and come to an earlier conclusion. I returned to try to make a PR and reached a different conclusion.

I'm searching for a solution that doesn't involve `rootMode`, for the reasons I mention above, but I haven't found it yet.

I think a solution may be to treat the ESLint root as the project root rather than the root found by `pkg-up`.

[2019-10-14 00:29] tilgovi commented on #89
I've been able to solve this with a local workaround in my own project.

Here are the relevant parts of my `.eslintrc.js`:

[code]

With this setup, `eslint-import-resolver-babel-module` fails to resolve my babel configuration, so it uses the "default options" that are passed to it, and I manually ensure that these options are taken from the `babel.config.js` file. Change the `cwd` option to `load

[2019-10-14 00:44] tleunen commented on #89
Any idea why it falls to resolve in your project? Cause it would be great to fix this once and for all 🙂

[2019-10-14 01:55] tilgovi commented on #89
I think the root cause is the `cwd` passed to  `OptionsManager.prototype.init` in `getPlugins`. The `cwd` option passed is taken from the result of a `pkg-up` search from the file being linted. This restricts Babel's search for configuration files to within that directory.

In my project, the nearest `package.json` file is deeper than the `babel.config.js` because I keep one `babel.config.js` at t

[2019-10-31 23:10] scottc-netflix opened #107 "Description of package is not helpful"
I have an issue with eslint throwing errors that it can't resolve a module even though it's there and works fine with the linter disabled. Trying to fix it and found this module but the description doesn't at all tell me what this package actually does or why one would want to use it.

[2019-11-01 13:16] tleunen commented on #107
Do you mind suggesting a better description? PRs are welcome.

tldr: This plugin allows you to use custom paths defined by https://github.com/tleunen/babel-plugin-module-resolver with eslint.

[2020-02-02 20:47] alexndreazevedo opened #110 "Missing peer dependencies"

[2020-02-02 20:48] #110 closed

[2020-03-15 11:58] peterp commented on #107
I think the description is perfectly accurate. Thank you for the amazing work.

[2020-05-17 15:56] danielo515 commented on #99
I did the other way around, by adding the extensions to te eslintrc config.
I think that the example on the README needs to be improved to include some bits of configuration. Right now it only has an empty object and that is kinda useless.
Also linking to [this documentation](https://github.com/tleunen/babel-plugin-module-resolver/blob/master/DOCS.md)  will probably be better because it is too har

[2020-06-05 08:16] phatNfqAsia commented on #100
I still get the eslint confusion despite the fix commit. Can you provide a more specific example

What I did is that I add

./projects/ui/.babelrc

[code]

./.eslintrc

[code]

and I still get
[code]

[2020-06-05 10:45] karolis-sh commented on #100
The minimal setup would be something like this:

`./projects/ui/.babelrc`:

[code]

`./.eslintrc`:

[code]

(the `parser` might be optional, I don't have a bare-bones example at the moment)

[2020-06-12 06:00] emhamzahazeen opened #111 "Is alias resolver for node_modules based module supported"
As an example form `babel-plugin-module-resolver` docs, give the following configs of `babel-plugin-module-resolver`:
`{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "_": "lodash"
      }
    }]
  ]
}`
The `_` results in `un-def` error even if this plugin is used. Is this behaviour intended or this is a bug?

[2020-06-17 21:02] yyynnn commented on #107
I think the example dir will suffice

[2020-08-18 12:11] tleunen commented on #89
I would lie saying that I remember, but I believe you're right indeed. Running eslint in an IDE usually runs it from the file you run the linting process.

Ideally, I would like having this eslint plugin to be as simple as possible, without having a need to provide any options since most of it could be taken from the options of the babel plugin I believe.
I'll be honest and it's been a while (year

[2020-09-16 19:02] KhubaibQaiser opened #116 "Unresolved path alias with React Native, Metro, Typescript"
Hi, I am getting this error while resolving path aliases in my react native project. You can find the repository here: https://github.com/KhubaibQaiser/rn-seed

Is there anything wrong with the configuration of my `.eslintrc.js` file?

[2020-10-29 12:10] aprilmintacpineda commented on #116
Same here, I get that error as well, I have something like `_screens` as my alias, but eslint complains that it's not found:

on `.eslintrc.js`
[code]

import aliases:

[code]

on `babe.config.js`

[code]

![image](https://user-images.githubusercontent.com/21032419/97571509-c4ecde00-1a22-11eb-9110-cc649f002117.png)

[2020-10-29 12:30] aprilmintacpineda commented on #61
I have something like `_screens` as my alias, but eslint complains that it's not found

on `.eslintrc.js`
[code]

import aliases:

[code]

on `babe.config.js`

[code]

![image](https://user-images.githubusercontent.com/21032419/97571509-c4ecde00-1a22-11eb-9110-cc649f002117.png)

[2021-04-21 06:26] adp-psych opened #117 "5.3.0 doesn't work with eslint-plugin-import"
Version 5.3.0 of eslint-import-resolver-babel-module causes problems for me with [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import):

[code]

Downgrading to version 5.2.0 of eslint-import-resolver-babel-module (`npm install --no-save eslint-import-resolver-babel-module@5.2.0`) resolves the problem.

Here's my `babel.config.js` (with comments removed):

[code]

My full Babel

[2021-04-21 12:27] tleunen commented on #117
Thank you for reporting the issue @adp-psych.
Not being an active user of both the babel plugin or the eslint plugin, I might not be the best person anymore to fix these issues unfortunately. But between 5.2.0 and 5.3.0, we didn't have any major changes in our codebase.
The only issue I could see is with one of the dependencies we updated.
Therefore, can I ask you to run a few tests with your code

[2021-04-21 15:11] adp-psych commented on #117
Hi @tleunen! Thanks for your quick response.

I investigated as you requested, and it seems the problem is here:

[code]

When this runs, `src` is `null`, so `path.join()` fails.

Commenting out this line and the `if` statement/block after it fixes the problem.

[2021-04-24 10:55] dword-design commented on #117
@adp-psych @tleunen I tried to setup a minimal project with your config but I think I need further files. I added all deps and then get this error:

[code]

Do you have a minimal failing example? Also, I guess it is maybe related to the importing statement rather than the config (don't know though).

[2021-04-25 02:50] adp-psych commented on #117
@dword-design, my ESLint configuration expects `templates/copyright.js` to contain the template for the copyright notice at the top of every source file. You can create `templates/copyright.js` if you like, but you should just be able to disable the rule (and any others that bother you) via `.eslintrc.js`:

[code]

[2021-04-26 09:21] dword-design commented on #117
@adp-psych Alright I could reproduce the issue. Coming up with a fix soon.

[2021-04-26 10:19] dword-design commented on #117
@adp-psych @tleunen This PR fixes the issue https://github.com/tleunen/eslint-import-resolver-babel-module/pull/118.

Problem was basically that the NPM import test was too specific for only testing babel plugin resolution. I replaced it with `pkg-up`, which failed then. Fix was pretty simple by surrounding my code with `if`. `resolvePath` only returns non-null if it is a local import (in contrast

[2021-04-26 12:33] tleunen commented on #117
That's good to know! Thank you @dword-design for the explanation, and the fix :)

[2021-04-26 12:34] #117 closed

[2021-05-08 05:28] tilgovi commented on #89
I had some good success reconfiguring a project to use only babelOptions to supply rootMode upwards and everything else configured in babel.config.js. Configuring just root to be __dirname from eslint config would also probably work.

If you want help, I could lend a hand with packing the changes and we could try a major version that removes everything and makes all the options just babel options.

[2021-05-08 11:54] tleunen commented on #89
Yes please @tilgovi :) Thank you so much for investigating and finding a solution

[2022-02-06 22:54] flaviodelgrosso opened #119 "import/no-unresolved triggered incorrectly"
Hi, I've upgraded to ESLint v8.8.0 and it seems that the alias paths are not resolved anymore.

`✖ 165 problems (165 errors, 0 warnings)`
It always worked properly, broke overnight.

These are my installed eslint packages:
[code]

That's my .babelrc:
[code]

And that's my eslint settings:
[code]

Thanks in advance for any help or suggestion

[2022-02-07 19:21] Intregrisist commented on #119
Actually, I believe the issue is with `"@babel/core": "^7.17.0"`. We had to downgrade to get the issue resolved.

[2022-02-07 19:55] flaviodelgrosso commented on #119
Thanks for your answer @Intregrisist, I suspected this and tried to downgrade babel modules to 7.15.0 and eslint to 8.7.0 but seems that the problem persists

[2022-03-10 14:24] Robin-Hoodie commented on #99
Bumped into this as well, the secret ingredient is adding the `extensions` option as mentioned above.

Babel itself doesn't complain when leaving out `extensions` but this plugin for some reason does.

The most elegant option is in my opinion to thus add this to the ESLint configuration

[code]

[2022-03-26 16:27] #119 closed

[2022-06-14 12:58] RobertSandiford opened #120 "Node exports field not being understood."
Seems that the resolver is not recognising imports from packages using "exports" in package.json